.fav-filter {
    padding: 8px;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    background-color: var(--primary-color);
    color: var(--fourth-color);
    font-weight: bolder;
    border: 3px solid var(--secondary-color);
    border-radius: 12px;
}

